<xml version="1.0" encoding="ISO-8859-15">
[% FOREACH team IN data.keys.sort -%]
	<team name = "[%- team -%]">
		<teamNo>[%- data.$team.teamNo -%]</teamNo>
		<results>
		[%- FOREACH score IN data.$team.stats %]
			<score>[%- score -%]</score>
		[%- END %]
		</results>
	</team>
[% END -%]
</xml>