[% FOREACH team IN data.keys.sort %]
	[%- data.$team.teamNo %],[% team %],
	[%- FOREACH score IN data.$team.stats %]
		[%- score -%]
		[%- IF loop.count < data.$team.stats.size %],
		[%- END %]
	[%- END %]
[% END -%]
