[% FOREACH team IN data.keys.sort %]
	[%- stats = data.$team.stats %]
	[%- data.$team.teamNo %],[% team %],
	[%- FOREACH score IN stats %]
		[%- score -%]
		[%- UNLESS loop.count == stats.size %],[% ELSE %]
		[% END %]
	[%- END %]
[%- END %]
